{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <h1>Enter new password</h1>
    <div class="ib" id="change">

        <form action="/change" method="post">

            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="new_password" name="new_password" placeholder="New password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Do it!</button>
        </form>
    </div>
{% endblock %}
